// @media (min-width: 576px)


@media (min-width: 768px)
    .hidden-desktop
      display: none

@media (min-width: 992px)
  /* Эффект при наведении кнопок */

  .btn
    &:hover
      background-image: linear-gradient(-18deg, darken($active, 5) 0%, darken(#2e76a0, 5) 50%, darken($active, 5) 100%)

  .btn-o
    &:hover
      background-image: none
      background-color: rgba(#f4f4f4, 0.1)


  /* Эффект блока услуг */

  .services

    &-block

      &:hover
        background-color: #272e3c

        & .services-img
          display: none

        & .services-img_active
          display: inline-block

      &:hover &__btn
        display: block

      &:hover &__title
        font-weight: 700
        color: #ffffff

      &__btn

        &:hover
          background-color: #fff !important
          color: #272e3c

// @media (min-width: 1200px)

@media (max-width: 1800px)

  /* Request section */

  .request

    &:after
      top: 45%

@media (max-width: 1399px)
  /* Контент слайдера чуть правее */
  .main

    &-slider

      &__title, &__descr, &__btn
        margin-left: 5%

    

  /* Header */

  .header


    &-logo
      margin-right: 150px


      &::before, &::after
        width: 79px
      
      &::before
        left: -91px    

      &::after
        right: -91px


    &__btn
      margin-left: 20px


  /* Services */

  .services

    &-block

      &__img
        flex-basis: 45%

      &__text
        flex-basis: 55%


  /* About */

  .about

    &-block
      padding: 135px 0 150px 47px

  /* Slider - section */

  .slider-section

    &__title, &__descr, &__btn
      margin-right: 3%

  /* Partners */

  .partners

    
    &-slider
      max-width: 1140px

    &-block
        
        &__img
          height: 150px

    .slick

      &-dots

          button
            border: 2px solid rgba(#242830, 0.2)

  /* Request section */

  .request

    &:after
      width: 420px
      height: 110px
      top: 55%
      background-size: 420px 110px



@media (max-width: 1199px)

  /* Main */

  .main
    &-slide

      &_first, &_second
        background-position: center


  /* Header */

  .header


    &-logo
      margin-right: 96px


      &::before, &::after
        width: 69px
      
      &::before
        left: -61px
        

      &::after
        right: -61px


    &__btn
      margin-left: 10px
      width: 160px

    /* Menu */

    &-menu

      &__inp.active
        width: 180px


  /* Services */

  .services

    &-block

      &__btn
        width: 136px
        padding: 12px 0

      &__img
        flex-basis: 40%

      &__text
        flex-basis: 60%


  /* About */

  .about

    &-block
      padding: 105px 15px 120px 35px


  /* News */

  .news


    &-block

      &__img
        max-height: 182px

        img
          height: 182px

  /* Slider - section */

  .slider-section

    &__title, &__descr, &__btn
      margin-right: 5%


  /* Partners */

  .partners

    
    &-slider
      max-width: 960px

  /* Partners */

  .partners

    &-block
        
        &__img
          height: 160px

  /* Request section */

  .request

    &:after
      width: 337px
      height: 88px
      background-size: 337px 88px
      left: 10px


  /* Footer */

  .footer


    &__menu
      padding-right: 0
      padding-left: 0
      flex-basis: 55%
  
 

/* ==============================   992 ================================= */

@media (max-width: 991px)

  /* Кнопки */

  .btn
    height: 45px
    width: 175px

  /* Main */

  .main
    padding-top: 52px
    padding-bottom: 123px
    height: 750px

    .slick

      &-dots
        bottom: 82px


    &-slider

      &__slide
        padding-top: 270px

  
  /* Header */

  .header

    &__descr
      display: none


    &-logo
      margin-right: 0
      margin-left: 0
      position: relative
      text-align: center

    &__contact
      order: -1


    &-menu

      &__item:last-child
        flex: 0 0 100%
        margin-top: 20px

      &__item:last-child > &__search
        margin-left: auto

      &__item:last-child >&__inp
        padding-left: 10px
        width: 300px
        left: auto
        right: 0


  /* Services */

  .services

    .row
      margin-top: -50px

    &-blocks
      padding-left: 13px
      padding-right: 13px

    &-block
      flex: 0 0 49.5%

      &__btn
        height: auto
        display: block
        width: 136px
        padding: 12px 0
        border: 2px solid #272e3c
        color: #272e3c

      &__img
        flex-basis: 50%

      &__text
        flex-basis: 50%
  

  /* About */

  .about

    &-block
      padding: 80px 15px 90px 30px

      &__title
        margin-bottom: 5px
        font-size: 20px

      &__subtitle, &__descr
        font-size: 14px

      &__subtitle
        padding-bottom: 30px

  
  /* News */

  .news

    &-blocks
      justify-content: center

      &__link
        margin: 0 10px 25px 10px
        flex: 0 0 41%
        max-width: 41%

    &-block

      &__img
        max-height: 229px

        img
          height: 229px


  /* Slider - section */

  .slider-section
    background-position-x: 40%

    &__title, &__descr, &__btn
      margin-right: 5%

    &__title
      font-size: 47px
      line-height: 51px

    &__descr
      font-size: 15px


  /* Partners */

  .partners
    padding-top: 30px

    &-slider
      max-width: 720px
      padding-top: 0

    &-block
        
        &__img
          height: 160px
          filter: none
          border: 1px solid rgba(0, 0, 0, 0.06)

          &:hover
            box-shadow: none

  /* Request section */

  .request

    &:after
      width: 315px
      height: 82px
      top: 57%
      background-size: 315px 82px


  /* Footer */

  .footer
    padding-top: 50px
    padding-bottom: 55px
    flex-wrap: wrap

    &__menu
      margin-bottom: 20px
      padding-right: 0
      padding-left: 0
      flex-basis: 100%
      order: -1


/* ==============================   767 ================================= */

@media (max-width: 767px)
  .hidden-mobile
    display: none


  /* Header */

  .header
    justify-content: center
    flex-wrap: wrap

    &-logo
      order: -1
      flex-basis: 100%

      &__exp
        margin-bottom: 15px

      &::before, &::after
        width: 109px
        height: 5px
        top: 30%
      
      &::before
        left: 89px
      &::after
        right: 89px

    &__descr
      text-align: center
      flex-basis: 100%
      display: block
      margin-bottom: 20px
      font-size: 13px
      font-weight: 300

    &__contact
      order: 0
    

    &__btn
      border-radius: 50%
      width: 40px
      height: 40px

      svg
        width: 20px
        height: 20px
        vertical-align: middle
        fill: #fff

    &-menu
      display: none
      background-color: rgba(darken($active, 20), 0.8)
      margin: 0
      position: fixed
      top: 0
      left: 0
      width: 100vw
      height: 100vh
      color: $white

      &__items
        width: 100%
        height: 100%
        flex-direction: column
        justify-content: center
        max-width: none

      &__item
        margin-bottom: 50px

      &__link
        color: $white
        position: relative

        &::after
          display: none

        &.active

          &::after
            display: none

    &-menu.active
      display: block
      z-index: 1010



  /* Main */

  .main
    height: 670px
    

    &-slider
      text-align: center

      &__title, &__descr, &__btn
        margin-left: 0
        max-width: none

      &__slide
        padding-top: 270px

      &__title
        font-size: 55px



    .slick

      &-dots
        bottom: 35px



  /* Стрелки слайдера */


  .slider

    &-arrow

      &_left
        left: 12px

      &_right
        right: 12px


  /* Our Services */

  .services

    .row
      margin-top: 0
      z-index: 0
  

  /* Services */

  .services
    padding-bottom: 50px

    &-blocks
      padding-left: 0
      padding-right: 0

    &-block
      margin-left: auto
      margin-right: auto
      flex: 0 0 75%

      &__btn
        width: 189px
        padding: 14px 0

      &__img
        flex-basis: 50%

      &__text
        flex-basis: 50%


  /* About */

  .about

    &__img
      height: 450px
      flex: 0 0 100%

    &-block
      flex: 0 0 100%
      padding: 40px 15px 60px 15px
      text-align: center

      &__title
        font-size: 23px

      &__subtitle, &__descr
        font-size: 15px

      &__subtitle
        padding-bottom: 20px

      &__descr
        max-width: 500px
        margin-left: auto
        margin-right: auto
        text-align: center

  /* News */

  .news
    padding-top: 33px
    padding-bottom: 50px

    &-blocks
      padding-top: 20px

      &__link
        margin: 0 0 15px 0
        flex: 0 0 55%
        max-width: 55%

    &-block

      &__img
        max-height: 231px
        margin-bottom: 24px

        img
          height: 231px

      &__title
        margin: 0 auto 15px auto

      &__date
        margin-bottom: 24px
        margin-left: 25px


  /* Slider - section */

  .slider-section
    padding-top: 120px
    padding-bottom: 99px

    &__block
      text-align: center

    &__title, &__descr, &__btn
      margin-right: 0

    &__title
      font-size: 36px
      line-height: 45px

    &__descr
      font-size: 15px
      margin-right: auto

  /* Partners */

  .partners

    &-slider
      max-width: 235px
  

  /* Request section */

  .request

    &:after
      background: transparent

    &-block
      max-width: 500px

    &-form

      &__inp
        flex: 0 0 100%

      &__consent
        text-align: center
        font-size: 13px

  /* Footer */

  .footer
    padding-top: 40px
    padding-bottom: 45px
    padding-left: 15px
    padding-right: 15px

    &__menu
      display: none



/* ==============================   576 ================================= */

@media (max-width: 575px)

  /* Section - title */

  .section-title
    font-size: 20px

    &::before, &::after

      display: none
  
  /* Header */

  .header

    &-logo
      max-width: 250px

      &__exp
        margin-bottom: 15px

      &::before, &::after
        width: 50px
        height: 5px
        top: 30%
      
      &::before
        left: 5%
      &::after
        right: 5%

  /* Кнопка меню */

  .menu

    &-btn
      z-index: 1050
      top: 15px
      left: 15px
      width: 40px
      height: 40px
      border: 2px solid rgba(#f4f4f4, 0.5)

  /* Main */

  .main
    height: 600px

    &-slider
      text-align: center

      .row
        margin-left: 0
        margin-right: 0
        padding-right: 5px
        padding-left: 5px

      &__title, &__descr, &__btn
        margin-left: 0
        max-width: none

      &__slide

        padding-top: 250px

      &__title
        margin-bottom: 20px
        font-size: 30px
        font-weight: 700
        line-height: 42px
        letter-spacing: 1.22px

      &__descr
        margin: 0 auto 20px auto
        max-width: 470px
        font-size: 16px
        font-weight: 300


    .slick

      &-dots
        bottom: 35px



    /* Стрелки слайдера */


    .slider

      &-arrow
        display: none !important
  

  /* Services */

  .services
    padding-bottom: 35px

    &__head
      padding-top: 20px
      padding-bottom: 20px

    &-block
      max-width: 400px
      flex: 0 0 90%
      height: 160px

      &__btn
        width: 140px
        padding: 12px 0

      &__img
        flex-basis: 40%

      &__text
        flex-basis: 60%


  /* About */

  .about

    &__img
      height: 300px

    &-block
      padding: 30px 15px 40px 15px
      text-align: center

      &__title
        font-size: 18px

      &__subtitle
        font-size: 13px
        padding-bottom: 20px

      &__descr
        font-size: 14px
        
      &__descr
        text-align: center


  /* News */

  .news
    padding-top: 20px
    padding-bottom: 30px

    &-blocks
      padding-top: 20px

      &__link
        flex: 0 0 90%
        max-width: 90%

    &-block
      max-width: 297px
      margin: 0 auto

      &__img
        margin-bottom: 20px


      &__title
        margin: 0 auto 10px auto

      &__date
        margin-bottom: 20px


  /* Slider - section */

  .slider-section
    background-position-x: 35%
    padding-top: 80px
    padding-bottom: 90px

    &.slick-dotted.slick-slider
      margin-bottom: 0

    &__block

      .row
        padding-right: 15px
        padding-left: 15px

    &__title
      margin-bottom: 20px
      font-size: 20px
      line-height: 30px
      
    &__descr
      margin-bottom: 20px
      font-size: 13px
      line-height: 25px

    .slick

      &-dots
        bottom: 35px


  /* Request section */

  .request
    padding-top: 30px
    padding-bottom: 35px

    &:after
      background: transparent

    &-block
      padding-left: 15px
      padding-right: 15px
      max-width: 400px

    &-form

      &__inp
        flex: 0 0 100%
        font-size: 14px

      &__consent
        text-align: center
        font-size: 12px


  /* Footer */

  .footer
    padding-top: 30px
    padding-bottom: 35px

    &__menu
      display: none




  



