// @media (min-width: 576px)


@media (min-width: 768px)
    .hidden-desktop
      display: none

@media (min-width: 992px)
  /* Эффект при наведении кнопок */

  .btn
    &:hover
      background-image: linear-gradient(-18deg, darken($active, 5) 0%, darken(#2e76a0, 5) 50%, darken($active, 5) 100%)

  .btn-o
    &:hover
      background-image: none
      background-color: rgba(#f4f4f4, 0.1)


  /* Эффект блока услуг */

  .services

    &-block

      &:hover
        background-color: #272e3c

        & .services-img
          display: none

        & .services-img_active
          display: inline-block

      &:hover &__btn
        display: block

      &:hover &__title
        font-weight: 700
        color: #ffffff

      &__btn

        &:hover
          background-color: #fff !important
          color: #272e3c

// @media (min-width: 1200px)



@media (max-width: 1399px)
  /* Контент слайдера чуть правее */
  .main

    &-slider

      &__title, &__descr, &__btn
        margin-left: 5%

    

  /* Header */

  .header


    &-logo
      margin-right: 150px


      &::before, &::after
        width: 79px
      
      &::before
        left: -91px    

      &::after
        right: -91px


    &__btn
      margin-left: 20px


  /* Services */

  .services

    &-block

      &__img
        flex-basis: 45%

      &__text
        flex-basis: 55%


@media (max-width: 1199px)

  /* Main */

  .main
    &-slide

      &_first, &_second
        background-position: center


  /* Header */

  .header


    &-logo
      margin-right: 96px


      &::before, &::after
        width: 69px
      
      &::before
        left: -61px
        

      &::after
        right: -61px


    &__btn
      margin-left: 10px
      width: 160px

    /* Menu */

    &-menu

      &__inp.active
        width: 180px


  /* Services */

  .services

    &-block

      &__btn
        width: 136px
        padding: 12px 0

      &__img
        flex-basis: 40%

      &__text
        flex-basis: 60%
  
 

/* ==============================   992 ================================= */

@media (max-width: 991px)

  /* Кнопки */

  .btn
    height: 45px
    width: 175px

  /* Main */

  .main
    padding-top: 52px
    padding-bottom: 123px
    height: 750px

    .slick

      &-dots
        bottom: 82px


    &-slider

      &__slide
        padding-top: 270px

  
  /* Header */

  .header

    &__descr
      display: none


    &-logo
      margin-right: 0
      margin-left: 0
      position: relative
      text-align: center

    &__contact
      order: -1


    &-menu

      &__item:last-child
        flex: 0 0 100%
        margin-top: 20px

      &__item:last-child > &__search
        margin-left: auto

      &__item:last-child >&__inp
        padding-left: 10px
        width: 300px
        left: auto
        right: 0


  /* Services */

  .services

    .row
      margin-top: -50px

    &-blocks
      padding-left: 13px
      padding-right: 13px

    &-block
      flex: 0 0 49.5%

      &__btn
        height: auto
        display: block
        width: 136px
        padding: 12px 0
        border: 2px solid #272e3c
        color: #272e3c

      &__img
        flex-basis: 50%

      &__text
        flex-basis: 50%


/* ==============================   767 ================================= */

@media (max-width: 767px)
  .hidden-mobile
    display: none


  /* Header */

  .header
    justify-content: center
    flex-wrap: wrap

    &-logo
      order: -1
      flex-basis: 100%

      &__exp
        margin-bottom: 15px

      &::before, &::after
        width: 109px
        height: 5px
        top: 30%
      
      &::before
        left: 89px
      &::after
        right: 89px

    &__descr
      text-align: center
      flex-basis: 100%
      display: block
      margin-bottom: 20px
      font-size: 13px
      font-weight: 300

    &__contact
      order: 0
    

    &__btn
      border-radius: 50%
      width: 40px
      height: 40px

      svg
        width: 20px
        height: 20px
        vertical-align: middle
        fill: #fff

    &-menu
      display: none
      background-color: rgba(darken($active, 20), 0.8)
      margin: 0
      position: fixed
      top: 0
      left: 0
      width: 100vw
      height: 100vh
      color: $white

      &__items
        width: 100%
        height: 100%
        flex-direction: column
        justify-content: center
        max-width: none

      &__item
        margin-bottom: 50px

      &__link
        color: $white
        position: relative

        &::after
          display: none

        &.active

          &::after
            display: none

    &-menu.active
      display: block
      z-index: 1010



  /* Main */

  .main
    height: 670px
    

    &-slider
      text-align: center

      &__title, &__descr, &__btn
        margin-left: 0
        max-width: none

      &__slide
        padding-top: 270px

      &__title
        font-size: 55px



    .slick

      &-dots
        bottom: 35px



  /* Стрелки слайдера */


  .slider

    &-arrow

      &_left
        left: 12px

      &_right
        right: 12px


  /* Our Services */

  .services

    .row
      margin-top: 0
      z-index: 0
  

  /* Services */

  .services
    padding-bottom: 50px

    &-blocks
      padding-left: 0
      padding-right: 0

    &-block
      margin-left: auto
      margin-right: auto
      flex: 0 0 75%

      &__btn
        width: 189px
        padding: 14px 0

      &__img
        flex-basis: 50%

      &__text
        flex-basis: 50%





/* ==============================   576 ================================= */

@media (max-width: 575px)

  /* Section - title */

  .section-title
    font-size: 20px

    &::before, &::after

      display: none
  
  /* Header */

  .header

    &-logo
      max-width: 250px

      &__exp
        margin-bottom: 15px

      &::before, &::after
        width: 50px
        height: 5px
        top: 30%
      
      &::before
        left: 5%
      &::after
        right: 5%

  /* Кнопка меню */

  .menu

    &-btn
      z-index: 1050
      top: 15px
      left: 15px
      width: 40px
      height: 40px
      border: 2px solid rgba(#f4f4f4, 0.5)

  /* Main */

  .main
    height: 600px

    &-slider
      text-align: center

      .row
        margin-left: 0
        margin-right: 0
        padding-right: 5px
        padding-left: 5px

      &__title, &__descr, &__btn
        margin-left: 0
        max-width: none

      &__slide

        padding-top: 250px

      &__title
        margin-bottom: 20px
        font-size: 30px
        font-weight: 700
        line-height: 42px
        letter-spacing: 1.22px

      &__descr
        margin: 0 auto 20px auto
        max-width: 470px
        font-size: 16px
        font-weight: 300


    .slick

      &-dots
        bottom: 35px



  /* Стрелки слайдера */


  .slider

    &-arrow
      display: none !important
  

  /* Services */

  .services
    padding-bottom: 35px

    &__head
      padding-top: 20px
      padding-bottom: 20px

    &-block
      max-width: 400px
      flex: 0 0 90%
      height: 160px

      &__btn
        width: 140px
        padding: 12px 0

      &__img
        flex-basis: 40%

      &__text
        flex-basis: 60%


  



